.root {
    -fx-background-color: #f9f9f9;
    -fx-font-family: "Inter 18pt Regular";
}

.label {
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.title-view {
    -fx-font-size: 20px;
    -fx-font-family: "Inter 18pt SemiBold";
    -fx-padding: 0 0 10 0;
}

.small-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.radio-button {
    -fx-font-size: 14px;
}

/* Contenido del MainView */
.main-content-view{
    -fx-background-color: white;
}


/* Botones de cambio de View */
.selector-box {
    -fx-padding: 0 0 0 20;

}

/* Texto de Selector en el SideBar */
.selector-section{
    -fx-spacing: 10;
    -fx-padding: 15;
}

/* TODA la SideBar */
.sidebar{
    -fx-spacing: 10;
    -fx-padding: 15;
    -fx-background-color: rgb(225, 225, 225);
}